.Nezukodiv {
    background-image: url("./images/Nezuko\ Pattern.png");
}

.Tanjirodiv {
    background-image: url("./images/Tanjiro\ Pattern.png");
}

.Tomiokadiv {
    background-image: url("./images/Giyu\ Tomioka\ Pattern.png");
}

.Zenitsudiv {
    background-image: url("./images/Zenitsu\ pattern.png");
}

.Gt {
    background-color: rgb(255, 255, 255);
}